body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #f4f4f4;
}
h1 {
  color: #333;
}
h2 {
  color: #555;
}
p {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.good-contrast {
  color: #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
}
.bad-contrast {
  color: #999;
  background-color: #ccc;
  display: flex;
  align-items: center;
  gap: 20px;
}
.img {
  border: 1px solid black;
}
